$color-lightBlue: #CEEBFB;
$color-Blue: #A3D6F5;
$color-darkBlue: #66A7C5;
$color-red: #EE3233;
$color-lightGray: #F0ECEB;
$color-darkGray: #6C7476;
$color-ripplBlue: #40DDFD;
$color-darkRipplBlue: rgb(5, 140, 167);